
.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    text-align: center;  
    background-color: #44cad6; 
    padding: 40px;       
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15); 
    width: 500px;        
    height: 500px;        
}
.login-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}
.input-field {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
   
}
.checkbox-input {
    margin-right: 8px;
}
.forget-password-link{
    
    justify-content:space-between;
    font-weight:500;
    display: block;
    font-size: 13px;
    color: #080808;
    text-decoration: none;
    

    
}
.login-button {
    margin-top: 40px;
    background-color:rgb(39, 39, 50);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.login-button:hover {
    background-color: #4b4b4b; 
}

.signup-button {
    
    background-color: blue;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
}

.signup-button:hover {

    text-decoration: underline; 
}
.terms-text {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
 
.login-forget-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;    
         
  }

.term 
{
    font-size: 13px;
    
}

.term a 
{
  color:#080808;
  text-decoration: none;
    
}