.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-size: cover;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 400px;
}

.form-container h2 {
    margin-top: 0;
    text-align: center; 
}

form {
    margin: 0 auto; 
}

form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border: 1px solid black;
}

.radio-group label {
    
    display: inline-flex;
    align-items: center;
}

.radio-group input {
    margin-right: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; 
}

form button:hover {
    background-color: #45a049; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  
    
    header {
      background-color: #0c14b388;
      color: #fff;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      width: 100%;
    }
    
    .logo img {
      height: 60px;
      width: 200px;
    }
    
    
    nav {
      flex-grow: 1;
    }
    
    nav ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
    
    nav ul li {
      margin-right: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s;
    }
    
    nav ul li a:hover {
      color: #61d2ffbd;
    }
    
    .header-buttons {
      display: flex;
    }
    
    .header-buttons button {
      margin-right: 10px;
      background-color: #0844bed2;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .header-buttons button:hover {
      background-color: #33bbe8e3;
    }
    
    .search-bar {
      display: flex;
      align-items: center;
    }
    
    .search-bar .header-buttons {
      margin-right: 10px;
    }
    
    .search-bar input[type="text"] {
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
    }
    
    .search-bar button {
      padding: 10px 20px;
      background-color: #0844bed2;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .search-bar button:hover {
      background-color: #33bbe8e3;
    }
    
    
    .footer-columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .footer-column {
      flex: 1;
      padding: 0 20px;
    }
    
    .footer-column p {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    
    footer {
      background-color: #0c14b388;
      color: #fff;
      text-align: center;
    }
    
  @media only screen and (max-width: 600px) {
    header {
      padding: 20px;
    }}
  
    .logo img {
      height: 40px;
    }
  
    nav ul li {
      margin-right: 10px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  
    .header-buttons button {
      padding: 8px 15px;
      font-size: 14px;
    }
  
    .search-bar input[type="text"] {
      padding: 8px;
      font-size: 14px;
    }
  
    .search-bar button {
      padding: 8px 15px;
      font-size: 14px;
    }
  
    .footer-column {
      max-width: 50%;
      flex: none;
    }

    .picture img {
      width:50px;
      height:50px;
      margin-top: 30px;
      border-radius: 50px;
    }
    
    .photo img{
      width:30px;
      height:30px;
      margin-top: 30px;
      margin-left: 10px;
      border-radius: 50px;
    }
    
    