
body {
    font-family: Arial, sans-serif;
    background-color:white;
    color: black;
    text-align: left;
}

.container {
    max-width: 600px;
    margin: 20px;
    margin-left: 500px;
    padding: 20px;
    background-color:#b0afb5;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

